.image{
    height: 15rem;
    width: 94vw;
    background-color: gray;
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text{
    height: .5rem;
    width: 60vw;
    background-color: gray;
    margin: 1rem 0rem;
    
}
.wrapper{
    margin-top: 0rem;
    padding-top: 2rem;
   
}